body {
    background-image: url("images/palm-background.webp");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    font-family: 'Seaweed Script', cursive;
    font-size: 100px;
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 192, 203, 0.152);
    text-align: center;
  }

  .heading-paragraph {
    font-family: 'Playfair Display', serif;
    font-size: larger;
    text-align: center;
  }

  .heading {
    margin: 40px auto;
  }


  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    display: inline-block;
    list-style: none;
    padding: 0 14px;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    letter-spacing: 2px;
  }

  a {
    color:rgba(13, 62, 88, 0.885);
    text-decoration: none;
  }

  .nav-item-highlight, a {
    border-bottom: 2px solid transparent;
    padding: 8px 8px 6px;
  }

  .nav-item-highlight:hover, .nav-item-highlight:active, .active-nav {
    border-bottom: 2px solid white;
  }

  /* MAIN CONTENT */
  .main-content {
    background:rgba(253, 253, 253, 0.586);
    display: block;
    margin: 52px 40px 20px;
    padding: 0 20px 40px;
    flex-direction: row;
    justify-content: center;
  }

  .date-and-place, .things-heading {
    margin: 52px auto 20px;
    justify-content: center;
    display: flex;
    color:rgba(13, 62, 88, 0.885);
  }

  .big-date {
    margin-top: 40px;
    margin-right: auto;
    margin-left:auto;
    width: 50%;
    text-align: right;
    padding: 20px 72px 20px 0;
    border-right: 1px solid #58595B;
  }

  .big-place {
    margin-top: 40px;
    margin-right: auto;
    margin-left:auto;
    width: 50%;
    padding: 20px 0 20px 72px;
  }

  h2 {
    font-family: 'Playfair Display', serif;
  }

  .rsvp-div, .item-div {
    display: flex;
  }

  .rsvp-link, .item-button {
    justify-content: center;
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    margin: 0 auto;
    border-radius: 2px;
    background-color: rgba(13, 62, 88, 0.885);
    color:rgba(253, 253, 253, 0.586);
    font-family: 'Poiret One', cursive;
    letter-spacing: 2px;
    font-weight: 600;
    display: block;
  }

  .rsvp-link:hover, .item-button:hover {
    opacity: 0.9;
  }

  .h-and-c {
    margin: 20px auto;
    justify-content: center;
    display: flex;
  }

  /* EVENT INFO */
  .event-info, .item>h4 {
    margin: 40px 0;
    font-family: 'Poiret One', cursive;
  }

  .event-info h4, .item>h4 {
    letter-spacing: 2px;
    margin: 12px 0;
    font-size: larger;
  }

  .ceremony-paragraphs, .reception-paragraphs, .item-paragraph, .member-name {
    font-family: 'Poiret One', cursive;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 12px 0;
  }

.ceremony-info {
  border-bottom: 1px solid rgba(88,89,91,15%);
  display: flex;
  justify-content: center;
}

.ceremony-time {
  display: block;
  text-align: end;
  padding: 32px 16px;
}

.ceremony-location {
  padding: 32px 16px;
  text-align: left;
}

.event-paragraph, .item-paragraph {
  margin: 2px 0;
}

.reception-info {
  border-bottom: 1px solid rgba(88,89,91,15%);
  display: flex;
  justify-content: center;
}

.reception-time {
  display: block;
  text-align: end;
  padding: 32px 16px;
}

.reception-location {
  padding: 32px 16px;
  text-align: left;
}

/* THINGS TO DO */
.image-container {
  width: 400px;
  height: 300px;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto;
}

.things-list {
  display: block;
  text-align: center;
}

.item {
  justify-content: center;
  margin-top: 50px;
}

.item-paragraph {
  margin: 4px;
}


/* WEDDING PARTY */
.member-pic > img {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.wedding-party {
  margin: auto 0;
  display: blockl
}

.wedding-party-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  text-align: center;
  padding: 44px 25px 0px;
  width: 300px;
  max-width: 300px;
}